.container {
  margin: 20px auto 50px;
}

.table {
  border: 1px solid #2ebce7;
  width: 100%;
  margin-bottom: 20px;
}

.table caption {
  display: none;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #534f9a;
}

.table th {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 15px;
  background: #efefef;
  border: 1px solid #dddddd;
  color: #534f9a;
}

.table td {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid #eee;
  text-align: center;
}

.table td:nth-child(3),
.table td:nth-child(4) {
  text-align: left;
}

.table td a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.table tbody tr:nth-child(odd) {
  background: #fff;
}

.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
